.blog{
    .blogHeader{
        display: flex;
        flex-direction: column;
        background-image: url(../captured-final-assets/blog-header.jpg);
        background-repeat: no-repeat;
        height: 70vh;
        width: 100%;
        justify-content: space-around;
    }
    h2{
        text-transform: uppercase;
        text-align: center;
        font-size: 80px;
        line-height: 92px;
    }
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .boxRight{
        width:50%;
        position: relative;
        top: -200px;
        h3{
            font-size: 32px;
            letter-spacing: 1px;
            margin-top: 30px;
        }
        span{
            font-family: $bodyFont;
            font-size: 20px;
            padding-top: 30px;
            line-height: 32px;
            margin-top: 10px;
        }

        .blogPhotoShade{
            background-color: $primaryColor;
            width: 100%;
            height: 400px;
            z-index: -10;
            // position: absolute;
        }
        .blogPhoto{
            background-image: url(../captured-final-assets/blog-post-image.jpg);
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            width: 100%;
            height: 400px;
            top: -40px;
            left: 30px;

        }
    }
    .DieulaPost{
        border-left: 4px $primaryColor solid;
        padding: 30px;
        border-bottom: 4px $primaryColor solid;
    }
    .comments{
        margin-left: 30px;
    }
    .comment1,
    .comment2{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        .picture1,
        .picture2{
            width: 10%;
            height: 5%;
            align-self: center;
            margin-right: 30px;
        }
        p{
            width: 70%;
            padding-top: 0;
        }
    }
    .postComment{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 100px;
        .nameEmail{
            width: 100%;
            margin-bottom: 30px;
            input[type="text"],
            input[type="email"]{
                width: calc(100% / 2 - 40px);
                resize: none;
                border: none;
                border-bottom: 1px solid $secondaryColor;
                background-color: $tertiaryColor;
            }
            input[type="text"]{
                margin-right: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            input[type="text"]::placeholder{
                color: black;
                font-size: 20px;
                line-height: 32px;
            }
            input[type="email"]{
                margin-right: 0;
            }
        }
        textarea{
            border: 1px solid $secondaryColor;
            resize: none;
            height: 200px;
            width: 90%;
            font-size: 20px;
            padding-top: 20px;
            padding-left: 20px;
        }
        button{
            width: 90%;
            margin-top: 50px;
            margin-right: 0px;
            margin-left: 0px;
            align-self: flex-start;
            font-size: 20px;
            text-transform: uppercase;
            font-family: $baseFont;
        }
    }
    .boxLeft{
        width: 40%;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        // position: relative;
        .photoContainer{
            background-image: url(../captured-final-assets/side-blog-image.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 80%;
            height: 10%;
            align-self: flex-start;
            // position: absolute;
        }
        .aboutCaptured{
            align-self: flex-end;
            background-color: $tertiaryColor;
            width: 60%;
            h4{
                font-size: 26px;
                margin-top: 20px;
                text-transform: uppercase;
            }
            p a{
                text-decoration: none;
                color: black;
                font-style: italic;
                font-weight: bold;
            }
            .secondSection ul{
                margin-top: 20px;
                font-family: $bodyFont;
                font-size: 20px;
                list-style-position: inside;
                list-style: none;
                li{
                    padding-bottom: 10px;
                }
                li::before{
                    content: "•";
                    color: $secondaryColor;
                    display: inline-block;
                    width: 1em;
                }
            }
        }
    }
}