.blog{
    .blogHeader{
        background-image: url(../captured-final-assets/blog-header.jpg);
    }
    h2{
        text-align: center;
        position: absolute;
        top: -150px;
    }
    p{
        padding-top: 30px;
    }
    i{
        display: none;
    }
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .boxRight{
        position: relative;
        width:50%;
        top: -200px;
        display: flex;
        justify-content: column;
        flex-wrap: wrap;
        // margin-right: 20px;
        h3{
            margin-top: 30px;
        }
        span{
            font-family: $bodyFont;
            font-size: 20px;
            padding-top: 30px;
            line-height: 32px;
            margin-top: 10px;
        }

        .blogPhotoShade{
            background-color: $primaryColor;
            width: 100%;
            height: 400px;
            z-index: 10;
        }
        .blogPhoto{
            background-image: url(../captured-final-assets/blog-post-image.jpg);
            background-position: center;
            background-repeat: no-repeat;
            align-self: flex-end;
            position: absolute;
            width: 100%;
            height: 400px;
            top: -40px;
            right: 0;
            left: 50px;
            z-index: 20;
        }
    }
    .DieulaPost{
        border-left: 4px $primaryColor solid;
        padding: 30px;
        border-bottom: 4px $primaryColor solid;
    }
    .comments{
        margin-left: 30px;
        margin-top: 30px;
    }
    .comment1,
    .comment2{
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
        .picture1,
        .picture2{
            align-self: center;
            width: 10%;
            height: 5%;
            margin-right: 30px;
        }
        p{
            width: 70%;
            padding-top: 0;
        }
    }
    .postComment{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 100px;
        .nameEmail{
            width: 100%;
            margin-bottom: 30px;
            input[type="text"]{
                background-color: $tertiaryColor;
            }

            input[type="text"]::placeholder{
                font-size: 20px;
                line-height: 32px;
                
            }
            input[type="email"]{
                margin-right: 0;
            }
        }
        textarea{
            background-color: $tertiaryColor;
            // color: $blackColor;
        }
        button{
            align-self: flex-start;
            width: 90%;
            margin-top: 30px;
            margin-right: 0px;
            margin-left: 0px;
            font-size: 20px;
        }
    }
    .boxLeft{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 40%;
        margin-right: 50px;
        margin-top: 100px;
        .photoContainer{
            background-image: url(../captured-final-assets/side-blog-image.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            align-self: flex-start;
            width: 80%;
            height: 10%;
            z-index: 10;
        }
        .aboutCaptured{
            background-color: $whiteColor;
            align-self: flex-end;
            position: absolute;
            width: 70%;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 100px;
            top: 120px;
            h4{
                margin-top: 20px;
            }
            p a{
                text-decoration: none;
                color: black;
                font-style: italic;
                font-weight: bold;
            }
            .secondSection{
                margin-top: 40px;
            }
            .secondSection ul{
                font-family: $bodyFont;
                list-style-position: inside;
                list-style: none;
                margin-top: 20px;
                font-size: 20px;
                li{
                    padding-bottom: 10px;
                }
                li::before{
                    content: "•";
                    color: $secondaryColor;
                    display: inline-block;
                    width: 1em;
                }
            }
        }
    }
}