.contactHeader{
    background-image: url(../captured-final-assets/contact-header.jpg);
}

.contact{
    i{
       visibility: hidden; 
    }
    .flexContainerTwo{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    .boxLeft2{
        margin-left: 150px;
        width: 30%;
        margin-top: 100px;
        
        i{
            visibility: inherit;
            font-size: 20px;
            padding-right: 20px;
        }
        a{
            text-transform: uppercase;
            text-decoration: none;
            color: black;
            font-size: 26px;
            letter-spacing: 1.1px;
        }
        p{
            padding-top: 0;
            margin-top: 10px;
        }
    }
    .boxRight2{
        position: absolute;
        width:60%;
        margin-right: 20px;
        top: 180px;
        right: 0;
        h2{
            margin-bottom: 50px;
        }
        .getInTouch{
            background-color: $whiteColor;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            box-shadow: -50px 50px $primaryColor;
            margin-left: 30px;
            margin-top: 50px;
            padding-left: 50px;
            padding-bottom: 50px;
            width: 650px;            
            .nameEmail{
                width: 100%;
                margin-bottom: 30px;
                margin-top: 100px;
            input[type="text"]{
                background-color: $tertiaryColor;
            }            
            input[type="text"]::placeholder{
                background-color: $whiteColor;
                font-size: 20px;
                line-height: 32px;
            }
            input[type="email"]{
                margin-right: 0;
            }
        }
        textarea{
            background-color: $whiteColor;
        }
        button{
            align-self: flex-start;
            width: 90%;
            margin-top: 50px;
            margin-right: 0px;
            margin-left: 0px;
            font-size: 20px;
        }
        }
    }
}



