header{
    background-image: url(../captured-final-assets/header-image.jpg);
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 90vh;
    i {
        visibility: hidden;
    }
    ul li{
        padding-top: 10px;
    }
}

header .title{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 80vh;
}

header .box1{
    background-image: url(../captured-final-assets/header-box-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 30px $primaryColor solid;
    border-left: 25px $primaryColor solid;
    border-bottom: 30px $primaryColor solid;
    position: absolute;
    width: 45%;
    height: 70%;
    right: 0;
    top: 40%;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
}

.home{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 100px;
    h2{
        text-align: center;
    }
    h3{
        align-self: center;
    }
    p{
        padding-top: 30px;
    }
    button{
        align-self: center;
        padding: 10px 20px;
        margin-top: 30px;
    }
}

