.smallDescription{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 100px;
    p{
        align-self: center;
        padding-top: 30px;
    }
    button{
        padding: 10px 20px;
        margin-top: 30px;
        align-self: center;
    }
}

.containerZigzag{
    background-color: $whiteColor;
}

.zigzagcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-top: 50px;
    .box2{
        position: relative;
        .imageOne, .imageTwo{
            object-fit: cover;
            width: 500px;
            height: 350px;
            z-index: 10;
            position: absolute;
        }
        .backgroundOne{
            background-color: $primaryColor;
            width: 500px;
            height: 350px;
            position: absolute;
            top: 30px;
            left: 30px;
            
        }
    }
    .box3{
        width: 50%;
        padding-left: 100px;
        margin-right: 100px;
    }
    .box4{
        position: relative;
        .imageTwo2{
            width: 500px;
            height: 350px;
            z-index: 10;
            position: relative;
        }
        .backgroundTwo{
            background-color: $primaryColor;
            width: 500px;
            height: 350px;
            position: absolute;
            top: 30px;
            right: 35px;
        }
    }
    .box5{
        direction: rtl;
        width: 50%;
        padding-left: 50px;
        margin-left: 0px;
    }
}

.wrapper2{
    width: 80%;
    margin: 0 auto;
}

.detail{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    span{
        display: flex;
    }
    i{
        font-size: 20px;
        background-color: $secondaryColor;
        border-radius: 50%;
        padding: 0.5em 0.6em;
        margin-right: 20px;
        z-index: 10;
    }
    h4{
        align-self: center;
    }
    .moreInfo{
        width: calc(50% - 20px);
        display: flex;
        flex-wrap: wrap;
    }
    p{
        margin-bottom: 50px;
        margin-right: 10px;
    }
}

.box6{
    background-image: url(../captured-final-assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    margin-bottom: 100px;
}

.profile{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    .content{
        width: 50%;
        margin: 0 auto;
    }
    .boxes{
        position: relative;
    }
    .box7{
        background-image: url(../captured-final-assets/small-box.jpg);
        width: 300px;
        height: 300px;
    }
    .box8{
        background-color: $primaryColor;
        position: absolute;
        width: 300px;
        height: 300px;
        top: 30px;
        left: 30px;
        z-index: -10;
    }
}

.background{
    background-color: $whiteColor;
    .gallery{
       display: grid; 
       grid-template-columns: 1fr 1fr 1fr;
       grid-gap: 20px;
       margin-top: 100px;
       margin-bottom: 100px;
    }
}

