.wrapper{
    width: 60%;
    margin: 0 auto;
}
.smallDescription{
    display: flex;
    flex-direction: column;
    font-family: $baseFont;
    margin-top: 150px;
    margin-bottom: 100px;
    h2{
        font-size: 42px;
        align-self: center;
        letter-spacing: 1px;
    }
    p{
        font-family: $bodyFont;
        font-size: 20px;
        align-self: center;
        padding-top: 30px;
        line-height: 32px;
    }
    button{
        background-color: $secondaryColor;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px 20px;
        margin-top: 30px;
        align-self: center;
        border: none;
        line-height: 32px;
        letter-spacing: 1px;
        font-family: $baseFont;
    }
}

.zigzagcontent{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    background-color: $tertiaryColor;
    margin-top: 100px;
    h3{
        font-size: 32px;
        letter-spacing: 1px;
    }
    .box2{
        background-image: url(../captured-final-assets/left-image.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 40%;
    }
    .box3{
        width: 50%;
        padding-left: 100px;
    }
    .box4{
        background-image: url(../captured-final-assets/right-image.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 40%;
    }
    .box5{
        direction: rtl;
        width: 50%;
        padding-left: 50px;
    }
}
.wrapper2{
    width: 80%;
    margin: 0 auto;
}

.detail{
    display: flex;
    flex-wrap: wrap;
    span{
        display: flex;
    }
    i{
        font-size: 20px;
        background-color: $secondaryColor;
        border-radius: 50%;
        padding: 10px;
        margin-right: 20px;
        z-index: 10;
    }
    h3{
        align-self: center;
        text-transform: uppercase;
        font-size: 32px;
    }
    .moreInfo{
        width: calc(50% - 20px);
        display: flex;
        flex-wrap: wrap;
    }
    p{
        margin-bottom: 50px;
        margin-right: 10px;
    }
}

.box6{
    background-image: url(../captured-final-assets/banner.jpg);
    height: 400px;
    margin-bottom: 100px;
}

.profile{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    .content{
        width: 50%;
        margin: 0 auto;
    }
    h3{
        text-transform: uppercase;
        font-size: 32px;
    }
    .boxes{
        position: relative;
    }
    .box7{
        background-image: url(../captured-final-assets/small-box.jpg);
        width: 300px;
        height: 300px;
    }
    .box8{
        background-color: $primaryColor;
        position: absolute;
        width: 300px;
        height: 300px;
        top: 30px;
        left: 30px;
        z-index: -10;
    }
}

.gallery{
   display: grid; 
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
}

footer{
    background-color: $blackColor;
    text-align: center;
    color: white;
    p{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
    }
}