@media (max-width: 1240px){
    h1{
        font-size: 100px;
    }
    .backgroundOne{
        display: none;
    }
    .zigzagContent{
        justify-content: center;
        .box2 .imageOne{
            position: inherit;
            border-left: 20px solid $primaryColor;
            width: 100%;
            margin-bottom: 100px;
            box-shadow: none;
        }
        .box4 .imageTwo{
            display: none;
        }
        .box3,
        .box5{
            text-align: center;
            direction: ltr;
            width: 100%;
        }
    }
    h2{
        font-size: 72px;
    }
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 22px;
    }
    .photoContainer{
        display: none;
    }
    .aboutCaptured{
        left: 0;
        top: 0;

    }
    .flexContainerTwo .boxLeft2{
        margin-left: 50px;
    }
}


@media (max-width: 940px){
    header{
        .title{
            position: relative;
        }
        h1{
           align-self: flex-end;
           position: absolute;
           top: 40%;
           font-size: 80px; 
        }
        i{
            visibility: visible;
            color: $primaryColor;
            transition: 0.2s linear all;
            font-size: 60px;
            margin-top: 50px;
            margin-left: 55px;
            &:hover,
            :focus{
                color: lightcoral;
            }
        }
        ul{
            display: block;
            padding-top: 30px;
            li{
                padding-top: 50px;
                padding-left: 50px;
            }
        }

        .box1{
            visibility: hidden;
        }
    }
    .box8{
        display: none;
    }
    .blog{
        i{
            display: inline;
            color: $primaryColor;
            transition: 0.2s linear all;
            font-size: 60px;
            margin-top: 50px;
            margin-left: 55px;
            &:hover,
            :focus{
                color: lightcoral;
            }
        }
        ul{
            display: block;
            padding-top: 30px;
            li{
                padding-top: 50px;
                padding-left: 50px;
            }
        }
        .flexContainer{
            flex-direction: column;
            .boxLeft{
                align-self: center;
                order: 2;
                width: 90%;
                margin-top: 0;
                margin-bottom: 30px;
                margin-top: 50px;
                .aboutCaptured{
                position: inherit;
                align-self: inherit;
                top: 0;
                padding-top: 50px;
                }
            }
            .boxRight{
                width: 90%;
                align-self: center;
                order: 1;
                top: 0;
                h2{
                    width: 100%;
                }
            }
        }
    }
    .contact{
        i{
            visibility: visible;
            transition: 0.2s linear all;
            color: $primaryColor;
            font-size: 60px;
            margin-top: 50px;
            margin-left: 55px;
            &:hover,
            :focus{
                color: lightcoral;
            }
        }
        ul{
            display: block;
            padding-top: 30px;
            li{
                padding-top: 50px;
                padding-left: 50px;
            }
        }
    }
}