
$primaryColor: #FDFA69;
$secondaryColor: #4CEEA7;
$tertiaryColor: #EFFDF3;
$whiteColor:#FAFAFA;
$blackColor: #2C2C2C;
$baseFont: 'Playfair Display', serif;
$bodyFont: 'Roboto', sans-serif;


@import 'normalized';
@import 'header';
@import 'about';
@import 'blog';
@import 'contact';

html{
    font-family: $baseFont;
}

body{
    overflow-x: hidden;
}

h1{
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 138px;
    z-index: 10;
}

h2{
    text-transform: uppercase;
    font-size: 80px;
    line-height: 92px;
}

h3{
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 1px;
}

h4{
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 1px;
}

h5{
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1.1px;
}

p{
    font-family: $bodyFont;
    font-size: 20px;
    line-height: 32px;
}


.blogHeader,
.contactHeader{
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-top: 20px;
    margin-right: 50px;
    a{
        text-decoration: none;
        color: black;
        padding: 0 10px;
        font-size: 20px;
        margin-right: 30px;
        transition: all 0.2s linear;
        &:hover,
        :focus{
            text-decoration: underline 3px $secondaryColor;
            -webkit-text-decoration: underline 3px $secondaryColor;
            text-underline-offset: 10px;
        }
    }
}

input[type="text"]{
    border: none;
    border-bottom: 1px solid $secondaryColor;
    width: calc(100% / 2 - 40px);
    padding-left: 10px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

textarea{
    resize: none;
    border: 1px solid $secondaryColor;
    height: 200px;
    width: 90%;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

button{
    font-family: $baseFont;
    background-color: $secondaryColor;
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 1px;
    a{
        text-decoration: none;
        color: black;
    }
}
footer{
    background-color: $blackColor;
    text-align: center;
    color: white;
    p{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@import 'tablet';
@import 'mobile';