@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

html {
  background-color: #EFFDF3;
  font-size: 62.5%;
}

header {
  background-image: url(../captured-final-assets/header-image.jpg);
  background-size: cover;
  position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 90vh;
}
header i {
  visibility: hidden;
}
header ul li {
  padding-top: 10px;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 80vh;
}

header .box1 {
  background-image: url(../captured-final-assets/header-box-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 30px #FDFA69 solid;
  border-left: 25px #FDFA69 solid;
  border-bottom: 30px #FDFA69 solid;
  position: absolute;
  width: 45%;
  height: 70%;
  right: 0;
  top: 40%;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  margin-bottom: 100px;
}
.home h2 {
  text-align: center;
}
.home h3 {
  -ms-flex-item-align: center;
      align-self: center;
}
.home p {
  padding-top: 30px;
}
.home button {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px 20px;
  margin-top: 30px;
}

.smallDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  margin-bottom: 100px;
}
.smallDescription p {
  -ms-flex-item-align: center;
      align-self: center;
  padding-top: 30px;
}
.smallDescription button {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px 20px;
  margin-top: 30px;
}

.containerZigzag {
  background-color: #FAFAFA;
}

.zigzagContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
  margin-top: 50px;
}
.zigzagContent .box2 {
  position: relative;
}
.zigzagContent .box2 .imageOne, .zigzagContent .box2 .imageTwo {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 500px;
  height: 350px;
  z-index: 10;
}
.zigzagContent .box2 .backgroundOne {
  background-color: #FDFA69;
  position: absolute;
  width: 500px;
  height: 350px;
  top: 30px;
  left: 30px;
}
.zigzagContent .box3 {
  width: 50%;
  padding-left: 100px;
  margin-right: 100px;
}
.zigzagContent .box4 {
  position: relative;
}
.zigzagContent .box4 .imageTwo {
  position: relative;
  width: 500px;
  height: 350px;
  z-index: 10;
}
.zigzagContent .box4 .backgroundTwo {
  background-color: #FDFA69;
  position: absolute;
  top: 30px;
  right: 35px;
  width: 500px;
  height: 350px;
}
.zigzagContent .box5 {
  direction: rtl;
  width: 50%;
  padding-left: 50px;
  margin-left: 0px;
}

.wrapper2 {
  width: 80%;
  margin: 0 auto;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.detail span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.detail i {
  background-color: #4CEEA7;
  font-size: 20px;
  border-radius: 50%;
  padding: 0.5em 0.6em;
  margin-right: 20px;
  z-index: 10;
}
.detail h4 {
  -ms-flex-item-align: center;
      align-self: center;
}
.detail .moreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(50% - 20px);
}
.detail p {
  margin-bottom: 50px;
  margin-right: 10px;
}

.box6 {
  background-image: url(../captured-final-assets/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  margin-bottom: 100px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}
.profile .content {
  width: 50%;
  margin: 0 auto;
}
.profile .boxes {
  position: relative;
}
.profile .box7 {
  background-image: url(../captured-final-assets/small-box.jpg);
  width: 300px;
  height: 300px;
}
.profile .box8 {
  background-color: #FDFA69;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 30px;
  left: 30px;
  z-index: -10;
}

.background {
  background-color: #FAFAFA;
}
.background .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.blog .blogHeader {
  background-image: url(../captured-final-assets/blog-header.jpg);
}
.blog h2 {
  text-align: center;
  position: absolute;
  top: -150px;
}
.blog p {
  padding-top: 30px;
}
.blog i {
  display: none;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flexContainer .boxRight {
  position: relative;
  width: 50%;
  top: -200px;
  margin-right: 20px;
}
.flexContainer .boxRight h3 {
  margin-top: 30px;
}
.flexContainer .boxRight span {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 30px;
  line-height: 32px;
  margin-top: 10px;
}
.flexContainer .boxRight .blogPhotoShade {
  background-color: #FDFA69;
  width: 100%;
  height: 400px;
  z-index: -10;
}
.flexContainer .boxRight .blogPhoto {
  background-image: url(../captured-final-assets/blog-post-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 95%;
  height: 400px;
  top: -40px;
  right: 0;
  left: 50px;
}
.flexContainer .DieulaPost {
  border-left: 4px #FDFA69 solid;
  padding: 30px;
  border-bottom: 4px #FDFA69 solid;
}
.flexContainer .comments {
  margin-left: 30px;
  margin-top: 30px;
}
.flexContainer .comment1,
.flexContainer .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}
.flexContainer .comment1 .picture1,
.flexContainer .comment1 .picture2,
.flexContainer .comment2 .picture1,
.flexContainer .comment2 .picture2 {
  -ms-flex-item-align: center;
      align-self: center;
  width: 10%;
  height: 5%;
  margin-right: 30px;
}
.flexContainer .comment1 p,
.flexContainer .comment2 p {
  width: 70%;
  padding-top: 0;
}
.flexContainer .postComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  margin-top: 100px;
}
.flexContainer .postComment .nameEmail {
  width: 100%;
  margin-bottom: 30px;
}
.flexContainer .postComment .nameEmail input[type=text] {
  background-color: #EFFDF3;
}
.flexContainer .postComment .nameEmail input[type=text]::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 32px;
}
.flexContainer .postComment .nameEmail input[type=text]::-moz-placeholder {
  font-size: 20px;
  line-height: 32px;
}
.flexContainer .postComment .nameEmail input[type=text]:-ms-input-placeholder {
  font-size: 20px;
  line-height: 32px;
}
.flexContainer .postComment .nameEmail input[type=text]::-ms-input-placeholder {
  font-size: 20px;
  line-height: 32px;
}
.flexContainer .postComment .nameEmail input[type=text]::placeholder {
  font-size: 20px;
  line-height: 32px;
}
.flexContainer .postComment .nameEmail input[type=email] {
  margin-right: 0;
}
.flexContainer .postComment textarea {
  background-color: #EFFDF3;
}
.flexContainer .postComment button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 90%;
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 20px;
}
.flexContainer .boxLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 40%;
  margin-right: 50px;
  margin-top: 100px;
}
.flexContainer .boxLeft .photoContainer {
  background-image: url(../captured-final-assets/side-blog-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 80%;
  height: 10%;
  z-index: 10;
}
.flexContainer .boxLeft .aboutCaptured {
  background-color: #FAFAFA;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  width: 70%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  top: 120px;
}
.flexContainer .boxLeft .aboutCaptured h4 {
  margin-top: 20px;
}
.flexContainer .boxLeft .aboutCaptured p a {
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: bold;
}
.flexContainer .boxLeft .aboutCaptured .secondSection {
  margin-top: 40px;
}
.flexContainer .boxLeft .aboutCaptured .secondSection ul {
  font-family: "Roboto", sans-serif;
  list-style-position: inside;
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}
.flexContainer .boxLeft .aboutCaptured .secondSection ul li {
  padding-bottom: 10px;
}
.flexContainer .boxLeft .aboutCaptured .secondSection ul li::before {
  content: "•";
  color: #4CEEA7;
  display: inline-block;
  width: 1em;
}

.contactHeader {
  background-image: url(../captured-final-assets/contact-header.jpg);
}

.contact i {
  visibility: hidden;
}
.contact .flexContainerTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}
.contact .boxLeft2 {
  margin-left: 150px;
  width: 30%;
  margin-top: 100px;
}
.contact .boxLeft2 i {
  font-size: 20px;
  padding-right: 20px;
}
.contact .boxLeft2 h5 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact .boxLeft2 p {
  padding-top: 0;
  margin-top: 10px;
}
.contact .boxRight2 {
  position: absolute;
  width: 60%;
  margin-right: 20px;
  top: 180px;
  right: 0;
}
.contact .boxRight2 h2 {
  margin-bottom: 50px;
}
.contact .boxRight2 .contactPhotoShade {
  background-color: #FDFA69;
  width: 80%;
  height: 500px;
  z-index: -10;
}
.contact .boxRight2 .getInTouch {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-left: 30px;
  margin-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  top: 40px;
  width: 650px;
}
.contact .boxRight2 .getInTouch .nameEmail {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 100px;
}
.contact .boxRight2 .getInTouch .nameEmail input[type=text] {
  background-color: #EFFDF3;
}
.contact .boxRight2 .getInTouch .nameEmail input[type=text]::-webkit-input-placeholder {
  background-color: #FAFAFA;
  font-size: 20px;
  line-height: 32px;
}
.contact .boxRight2 .getInTouch .nameEmail input[type=text]::-moz-placeholder {
  background-color: #FAFAFA;
  font-size: 20px;
  line-height: 32px;
}
.contact .boxRight2 .getInTouch .nameEmail input[type=text]:-ms-input-placeholder {
  background-color: #FAFAFA;
  font-size: 20px;
  line-height: 32px;
}
.contact .boxRight2 .getInTouch .nameEmail input[type=text]::-ms-input-placeholder {
  background-color: #FAFAFA;
  font-size: 20px;
  line-height: 32px;
}
.contact .boxRight2 .getInTouch .nameEmail input[type=text]::placeholder {
  background-color: #FAFAFA;
  font-size: 20px;
  line-height: 32px;
}
.contact .boxRight2 .getInTouch .nameEmail input[type=email] {
  margin-right: 0;
}
.contact .boxRight2 .getInTouch textarea {
  background-color: #FAFAFA;
}
.contact .boxRight2 .getInTouch button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 90%;
  margin-top: 50px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 20px;
}

html {
  font-family: "Playfair Display", serif;
}

h1 {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 138px;
  z-index: 10;
}

h2 {
  text-transform: uppercase;
  font-size: 80px;
  line-height: 92px;
}

h3 {
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 1px;
}

h4 {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1px;
}

h5 {
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 1.1px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

.blogHeader,
.contactHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 20px;
  margin-right: 50px;
}
nav ul a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  font-size: 20px;
  margin-right: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
nav ul a:hover,
nav ul a :focus {
  text-decoration: underline 3px #4CEEA7;
  -webkit-text-decoration: underline 3px #4CEEA7;
  text-underline-offset: 10px;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #4CEEA7;
  width: calc(100% / 2 - 40px);
  padding-left: 10px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

textarea {
  resize: none;
  border: 1px solid #4CEEA7;
  height: 200px;
  width: 90%;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

button {
  font-family: "Playfair Display", serif;
  background-color: #4CEEA7;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
}
button a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #2C2C2C;
  text-align: center;
  color: white;
}
footer p {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1240px) {
  h1 {
    font-size: 100px;
  }

  .backgroundOne,
.backgroundTwo {
    display: none;
  }

  .zigzagContent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .zigzagContent .box2 .imageOne {
    position: inherit;
    border-left: 20px solid #FDFA69;
    width: 100%;
    margin-bottom: 100px;
  }
  .zigzagContent .box4 .imageTwo {
    display: none;
  }
  .zigzagContent .box3,
.zigzagContent .box5 {
    width: 100%;
    text-align: center;
    direction: ltr;
  }

  h2 {
    font-size: 72px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 22px;
  }

  .photoContainer {
    display: none;
  }

  .aboutCaptured {
    left: 0;
    top: 0;
  }

  .flexContainerTwo .boxLeft2 {
    margin-left: 50px;
  }
}
@media (max-width: 940px) {
  header .title {
    position: relative;
  }
  header h1 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
    top: 40%;
    font-size: 80px;
  }
  header i {
    visibility: visible;
    font-size: 60px;
    color: #FDFA69;
    margin-top: 50px;
    margin-left: 55px;
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
  }
  header i:hover {
    color: lightcoral;
  }
  header ul {
    display: block;
    padding-top: 30px;
  }
  header ul li {
    padding-top: 50px;
    padding-left: 50px;
  }
  header .box1 {
    visibility: hidden;
  }

  .box8 {
    display: none;
  }

  .blog i {
    display: inline;
    font-size: 60px;
    color: #FDFA69;
    margin-top: 50px;
    margin-left: 55px;
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
  }
  .blog i:hover {
    color: lightcoral;
  }
  .blog ul {
    display: block;
    padding-top: 30px;
  }
  .blog ul li {
    padding-top: 50px;
    padding-left: 50px;
  }
  .blog .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .flexContainer .boxLeft {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 90%;
    margin-top: 0;
    margin-bottom: 30px;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 50px;
  }
  .blog .flexContainer .boxLeft .aboutCaptured {
    position: inherit;
    -ms-flex-item-align: inherit;
        align-self: inherit;
    top: 0;
    padding-top: 50px;
  }
  .blog .flexContainer .boxRight {
    width: 90%;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    top: 0;
  }
  .blog .flexContainer .boxRight h2 {
    width: 100%;
  }

  .contact i {
    visibility: visible;
    font-size: 60px;
    color: #FDFA69;
    margin-top: 50px;
    margin-left: 55px;
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
  }
  .contact i:hover {
    color: lightcoral;
  }
  .contact ul {
    display: block;
    padding-top: 30px;
  }
  .contact ul li {
    padding-top: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 480px) {
  header i {
    font-size: 50px;
  }
  header ul {
    padding-top: 0px;
  }
  header ul li {
    padding-top: 20px;
  }
  header ul a {
    font-size: 18px;
  }
  header h1 {
    font-size: 70px;
    top: 45%;
  }

  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detail .moreInfo {
    width: 90%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .detail .moreInfo p {
    text-align: center;
  }

  .zigzagContent div:first-child {
    padding-left: 0;
    width: 90%;
  }

  .wrapper2 {
    width: 90%;
  }
  .wrapper2 .box7 {
    width: 650px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }
  .wrapper2 .content {
    width: 100%;
  }

  .gallery img:first-child {
    display: none;
  }

  .background .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .blog .flexContainer .aboutCaptured {
    width: 90%;
    background-color: #EFFDF3;
  }
  .blog .flexContainer .aboutCaptured ul {
    margin-top: 0px;
  }
  .blog .flexContainer .aboutCaptured ul li {
    padding-top: 20px;
    padding-left: 10px;
  }
  .blog .flexContainer .comments img {
    width: 20%;
  }

  .contact i {
    font-size: 50px;
    margin-top: 40px;
    margin-left: 40px;
  }
  .contact ul {
    padding-top: 0;
  }
  .contact ul li {
    padding-left: 30px;
    padding-top: 20px;
  }
  .contact ul li a {
    font-size: 18px;
  }
  .contact .flexContainerTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .boxRight2 {
    width: 90%;
  }
  .contact .boxRight2 h2 {
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 110px;
    z-index: 20;
  }
  .contact .boxRight2 .contactPhotoShade {
    display: none;
  }
  .contact .boxRight2 .getInTouch {
    top: 150px;
    width: 100%;
    margin-left: 0px;
    margin-top: 80px;
  }
  .contact .boxLeft2 {
    width: 90%;
    margin-top: 300px;
  }
  .contact .boxLeft2 i {
    color: black;
  }
}